
body, html {
  padding: 0;
  margin: 0;
}


/* header */

.header{
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid black;
  position: fixed;
  width: 100%;
  height: 100px;
  z-index: 5;
  background-color: white;
  margin: 0 auto;

}


#logo{
  display: flex;
  width: 180px;
  justify-content: space-around;
  margin: 0 20px;
}

.navcont{
  margin-left: auto;
  margin-right: 10px;
  display: inline-block;

}

.navcont a{
  color: black;
  margin: 0 20px;
  }

h3{
  color: Aquamarine;
}

/*body*/

#container{
  margin: 0 auto;
  padding: 0 10px;


}

.column {
  position: relative;
  top: 100px;
  display: flex;
  flex-direction: row;
  border: 1px solid blue;
  align-content: space-around;
  width: 100%;
  height: 100%;
}

.column > div {
  border: 1px solid yellow;
  margin: 30px 30px;
}
/* solo para bordes */
.large > div {
  border: 1px dotted black;
}

.medium > div {
  border: 1px dotted black;
}

.small > div{
  border: 1px dotted black;
}
/* bordes */

.column .large {
  display: inline-flex;
  flex-direction: column;
  width: 630px;
}

.column .medium {
  display: inline-flex;
  flex-direction: column;
  width: 300px;
}

.column .small {
  display: inline-flex;
  flex-direction: column;
  width: 240px;
}

.large .col2 {
  border: 2px solid red;
}

.col2 > div {
  border: 1px dotted green;
}

/* back ground images */

.news1 {
  flex-basis: 300px;
  background-image: url('../image/img-story-main.png');
  background-size: cover;
}

.news1 h2{
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  color: white;
}

.news4 {

  background-image: url('../image/img-story-2.png');
  background-size: contain;
}

p {
font-family: Georgia;
font-size: 17px;
color: black;
}

.news4 p{
  display: flex;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  justify-content: center;
}

.news6 {

  background-image: url('../image/img-story-3.png');
}

.news6 p{
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

.news8{
  background-image: url('../image/img-story-1.png');
  flex-basis: 300px;
}

.news8 p{
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

.col2{
  display: inline-flex;
  flex-flow: wrap;

}

.col2 > div{
flex-basis: 310px;
}

.img {
	height: 300px;
	text-align: center;
	display: flex;
	align-items: center;
  margin-top: 20px;
}

.news3 {
  order: -2;
}

.news5 {
  order: -1;
}

.news6 {
  order: 1;
}
