
body, html {
  padding: 0;
  margin: 0;
}


/* header */

.header{
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid black;
  position: fixed;
  width: 100%;
  height: 80px;
  z-index: 5;
  background-color: white;
  margin: 0 auto;

}


#logo{
  display: flex;
  width: 180px;
  justify-content: space-around;
  margin: 0 20px;
}

.navcont{
  margin-left: auto;
  margin-right: 10px;
  display: inline-block;

}

.navcont a{
  color: black;
  margin: 0 20px;
  }

h3{
  color: Aquamarine;
}


/*body*/

.column {
  position: relative;
  top: 100px;
  display: flex;
  flex-direction: row;
  align-content: space-around;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.column > div {
  margin: 30px 30px;
}

/* bordes */

.column .large {
  display: inline-flex;
  flex-direction: column;
  width: 630px;
}

.column .medium {
  display: inline-flex;
  flex-direction: column;
  width: 300px;
}

.column .small {
  display: inline-flex;
  flex-direction: column;
  width: 240px;
}


/* back ground images */

.news1 {
  flex-basis: 300px;
  background-image: url('../image/img-story-main.png');
  background-size: cover;
}

.news1 h2{
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  color: white;
}

.news4 {

  background-image: url('../image/img-story-2.png');
  background-size: cover;
}

p {
font-family: Georgia;
font-size: 17px;
color: black;
}

.news4 p{
  display: flex;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  justify-content: center;
}

.news6 {

  background-image: url('../image/img-story-3.png');
}

.news6 p{
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

.news8{
  background-image: url('../image/img-story-1.png');
  width: 300px;
  height: 300px;

}

.news8 p{
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
}

.col2{
  display: inline-flex;
  flex-flow: wrap;
  justify-content: space-between;

}

.col2 > div{
flex-basis: 290px;
}

.img {
	height: 300px;
	text-align: center;
	display: flex;
	align-items: center;
  margin: 60px 0;
  width: 640px;
}

.news3 {
  order: -2;
}

.news5 {
  order: -1;
}

.news6 {
  order: 1;
}

.news11 h2{
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin: 30px auto;
}

.news11{
  display: flex;
  flex-direction: column;
}

.news11 span{
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
  padding: 10px 20px;
  border-bottom: 1px solid black;
  width: 200px;
}

.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 25px;
  background-color: MediumAquamarine;
  margin-top:75px;
  font-family: Verdana;
  font-size: 12px;
  padding: 120px 0;
  flex-direction: column;

}

.botinfo{
  display: flex;
  padding: 10px 0;
}

.flogo{
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
  padding: 0 20px;
  border-right: 1px solid white;
}

.navbot a{
  padding: 0 15px;
  color: black;
}
